<header class="background-sky bg-no-repeat bg-cover blurred-bottom-border">
  <div class="h-screen flex flex-col justify-center text-center z-10">
    <p class="text-9xl gochi-hand-regular">Make Your Life More Organizeable</p>
    <span class="flex my-5 gap-[30px] align-middle content-center justify-center">
      <button (click)='redirectToAnotherPage("login")' mat-raised-button class="text-[36px]" style="padding: 30px; border-radius: 30px">
        Login
      </button>
      <button (click)='redirectToAnotherPage("signup")' mat-raised-button class="text-[36px]" style="padding: 30px; border-radius: 30px">
        Register
      </button>
    </span>
  </div>
</header>
