<header class="bg-[#212121] p-4 shadow-md w-full">
  <div class="flex items-center justify-between">
    <div class="text-white text-xl font-semibold">
      {{ tasklist.name.toUpperCase() }}
    </div>
    <span>
      <button (click)="openAddTaskModal()"
        class="hover:bg-red-500 bg-blue-600 text-white font-semibold py-2 px-4 rounded-md mr-3">
        Add New Task
      </button>
      <button (click)="onLogout()"
        class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-md">
        Logout
      </button>
    </span>
  </div>
</header>
<div class="flex h-screen bg-[#212121] w-full">
  <span class="flex flex-col border-2 border-[#212121]"
    [ngClass]="{'w-[70%] justify-start items-start': isModalOpen, 'w-[100%]': !isModalOpen}">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="sn" class="w-[2px]">
        <th mat-header-cell *matHeaderCellDef> Sn# </th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          title
        </th>
        <td mat-cell *matCellDef="let element" class="cursor-pointer hover:bg-blue-500">
          <span (click)="onTaskClick(element)">
            <span mat-button>
              {{ element.title }}
            </span>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="due-date">
        <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by weight">
          Until Due
        </th>
        <td mat-cell *matCellDef="let element">
          <app-countdown 
            [targetDate]="element.deadline" 
          ></app-countdown>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          Status
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.completed; else notCompleted">check</mat-icon>
          <ng-template #notCompleted>
            <mat-icon>close</mat-icon>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by symbol">
          Actions
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="slds-dropdown slds-dropdown_right">
            <ul class="dropdown__list flex" role="menu">
              <li class="slds-dropdown__item flex cursor-pointer">
                <button mat-icon-button (click)="openAddTaskModal(element)">
                  <mat-icon>edit</mat-icon>
                </button>
              </li>
              <li class="slds-dropdown__item flex cursor-pointer">
                <!-- <a
                    role="menuitem"
                    nglDropdownItem
                    (click)="deleteTask(task, ind)"
                    (click)="task.openMenu = false"
                  > -->
                <p class="slds-truncate"></p>
                <mat-icon class="mat-icon-size-24" color="warn">delete</mat-icon>
                <!-- </a> -->
              </li>
            </ul>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class='w-full' [length]="tasks.length" [pageSize]="5" [pageSizeOptions]="[5]"
      aria-label="Select page"></mat-paginator>
  </span>

  <div *ngIf="isModalOpen" class="flex-2 w-[60%] h-[60%] border-2 border-[#212121] rounded-[20px]">
    <app-task-details [task]="selectedTaskDetails" class="w-full"></app-task-details>
  </div>
</div>