@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  box-sizing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
