<div class="create-column-container">
	<h2>Create New TaskList</h2>

	<form (ngSubmit)="onSubmit()" #tasklistForm="ngForm">
		<div class="form-group">
			<label for="tasklistName">TaskList Name</label>
			<input type="text" id="tasklistName" name="tasklistName" [(ngModel)]="tasklistName" required class="form-control"
				placeholder="Enter the column name" />
			<div *ngIf="tasklistForm.submitted && !tasklistName" class="error-message">
				Name is required.
			</div>
		</div>

		<button type="submit" [disabled]="!tasklistForm.valid" class="btn btn-primary">
			Create Column
		</button>
	</form>
</div>