<div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="p-6 rounded-lg w-96 bg-[#212121]">
    <h3 class="text-lg font-semibold mb-4 text-white font-bolder">Add a Member</h3>
    
    <input 
      [(ngModel)]="newUserEmail" 
      type="email"
      class="p-2 border border-gray-300 rounded-lg w-full mb-4"
      placeholder="Enter email of the member"
      [ngModelOptions]="{standalone: true}"
    />

    <p *ngIf="errorMessage" class="text-red-500 text-sm mb-4">{{ errorMessage }}</p>

    <div class="flex justify-between">
      <button 
        (click)="addContributor()" 
        [disabled]="isLoading"
        class="bg-blue-500 text-white py-1 px-4 rounded disabled:opacity-50">
        Add
      </button>
      <button 
        (click)="closeModal()" 
        class="bg-red-500 text-white py-1 px-4 rounded">
        Cancel
      </button>
    </div>
  </div>
</div>

<button 
  (click)="openModal()" 
  class="hover:bg-red-500 bg-blue-600 text-white font-semibold py-2 px-4 rounded-md mr-3">
  Add Member
</button>
