<mat-card class="my-5 p-5">
  <form class="flex flex-col gap-4" (submit)="onSubmit(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput ngModel type="text" placeholder="Post Title" name="title" required #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea  matInput row="6" ngModel type="text" placeholder="Posst Content" name="content" required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a Content.</mat-error>
    </mat-form-field>
    <button mat-raised-button class="w-fit self-center" color="primary">Submit</button>
  </form>
</mat-card>
