<!-- <textarea row="6" [value]="postSubmit" #postInput></textarea>
<hr>
<button (click)="onSubmitButton(postInput)">Submit</button> 
<p>{{ postSubmit }}</p>


<textarea row="6" [(ngModel)]="enterValued"></textarea>
<hr>
<button (click)="onSubmitButton2()">Submit</button> 
<p>{{ enterValued }}</p> -->


<!-- Angular Material -->

<mat-card>
  <mat-form-field>
    <textarea  matInput row="6" [(ngModel)]="enterValued"></textarea>
  </mat-form-field>
  <button mat-raised-button color='primary' (click)="onSubmitButton2()">Submit</button> 
</mat-card>
<p>{{ enterValued }}</p>
