<div class="flex justify-center align-middle py-4 bg-[#333] text-white">
  <!-- <nav class="background-silver grid-fluid">
    <div class="c3 main-footer-branding">
      <div class="logo-inverse-large"></div>
    </div>
    <div class="c2">
      <h3 class="text-headline">LIBRARIES</h3>
      <ul class="text-body">
        <li><a href="/"> Angular 2.0</a></li>
        <li><a href="https://angularjs.org/"> Angular JS 1.X</a></li>
        <li><a href="https://angulardart.org/"> Angular Dart 1.X</a></li>
        <li><a href="https://material.angularjs.org"> Angular Material</a></li>
        <li>
          <a href="https://www.firebase.com/docs/web/libraries/angular/">
            AngularFire</a>
        </li>
      </ul>
    </div>
    <div class="c2">
      <h3 class="text-headline">LEARN</h3>
      <ul class="text-body">
        <li><a href="/docs/js/latest/quickstart.html"> 5 Min Quickstart</a></li>
        <li><a href="/docs/js/latest/resources.html"> Resources</a></li>
        <li><a href="/docs/js/latest/api.html"> Full API</a></li>
        <li><a href="https://goo.gl/sj0Nk1">Design Docs &amp; Notes</a></li>
      </ul>
    </div>
    <div class="c2">
      <h3 class="text-headline">HELP</h3>
      <ul class="text-body">
        <li>
          <a href="https://groups.google.com/forum/#!forum/angular">
            Google Group</a>
        </li>
        <li><a href="https://gitter.im/angular/angular"> Chat Room</a></li>
        <li>
          <a href="https://github.com/angular/angular.js/issues">
            Report an Issue</a>
        </li>
      </ul>
    </div>
    <div class="c3">
      <h3 class="text-headline">COMMUNITY</h3>
      <ul class="text-body">
        <li><a href="https://blog.angularjs.org/"> Blog</a></li>
        <li>
          <a href="https://plus.sandbox.google.com/+AngularJS/posts">
            Google+</a>
        </li>
        <li><a href="https://twitter.com/angularjs"> Twitter</a></li>
        <li><a href="https://github.com/angular/angular.js"> GitHub</a></li>
      </ul>
    </div>
  </nav> -->
  <footer class="background-steel">
    <p class="text-caption">Powered by Bari ©2024. Code licensed under the Banjaxed.</p>
  </footer>
</div>